@import url("reset.css");
@import url("root.css");

.page_container{
    max-width: 1920px;
    margin: auto;
}

/* used to style content so it fits into one screen minimum */
.screen_container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.thin_content_container {
    width: 40rem;
    max-width: 1000px;
    margin: auto;
}

.quiet_text{
    color: var(--color-text-quiet);
}

#top_navigation_bar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100vw;
    margin: auto;
    display: flex;
    align-items: center;
    backdrop-filter: blur(20px) brightness(20%);
    z-index: 100;
    opacity: 0;
}

#top_navigation_bar.scroll_up {
    /* top: 0vh; */
    transition: 0.3s ease-in;
    opacity: 1;
}

#top_navigation_bar.scroll_down {
    /* top: -25vh; */
    transition: 0.3s ease-in;
    opacity: 0;
}

#top_navigation_bar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

#top_navigation_bar ul li {
    list-style: none;
    display: block;
    margin: 10px 0.5rem;
}
#top_navigation_bar ul li a,
#top_navigation_bar ul li p {
    text-decoration: none;
    color: var(--color-text-secondary);
}

#top_navigation_bar ul li a:hover {
    transition: 0.2s;
    color: var(--color-text);
}

#top_navigation_bar div {
    /* margin: auto 10px; */
    color: var(--color-text-quiet);
    width: 20vw;
    text-decoration: none;
}

#top_navigation_bar .side_option:hover {
    transition: 0.2s;
    color: var(--color-text);
}

#nav_email {
    margin-left: calc(10px + 0.25rem);
}
#nav_twt {
    text-align: right;
}

#nav_twt a {
    margin-right: calc(10px + 0.25rem);
}

@keyframes reveal {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes moveFromLeft {
    from {
        opacity: 0;
        transform: translateX(-5rem);
    }
    to {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes moveFromRight {
    from {
        opacity: 0;
        transform: translateX(5rem);
    }
    to {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@media (max-width:960px) {
    #top_navigation_bar .side_option{
        display: none;
    }
}

/* WINDOW 1 - LANDING SCREEN */

#landing_content {
    animation: FirstWindow_fadeInAnimation 800ms ease-out forwards;
}
#landing_content h1 {
    font-size: max(4.5vw, var(--h1-font-size));
    text-align: center;
}

#landing_content p {
    font-size: max(1vw, var(--p-font-size));
    text-align: center;
    color: var(--color-text-secondary);
}

@keyframes FirstWindow_fadeInAnimation {
    0% {
        position: relative;
        opacity: 0;
        transform: translateY(-65%);
    }
    50% {
        position: relative;
        transform: translateY(-65%);
        opacity: 0;
    }
    100% {
        position: relative;
        transform: translateY(-50%);
        opacity: 1;
    }
}

#down_arrow{
    position: fixed;
    animation:
        downArrow_fadeInAnimation 2500ms linear,
        itemFloatHover 2s ease-in-out infinite;
    text-align: center;
    bottom: calc(-50vh + 30px);
    width: 100%;
}

#down_arrow.fade_out{
    animation:
        downArrow_fadeOutAnimation 300ms linear forwards,
        itemFloatHover ease-in-out infinite;
}

@keyframes itemFloatHover {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
}

@keyframes downArrow_fadeInAnimation {
    0% {
        opacity: 0;
        -ms-transform: translateY(5px);
        transform: translateY(5px);
    }
    60% {
        opacity: 0;
        -ms-transform: translateY(5px);
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes downArrow_fadeOutAnimation {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@media (max-width:960px) {
    #down_arrow {
        display: none
    }
}
/* WINDOW 2 - ABOUT SCREEN */

#about_me_content {
    display: flex;
    max-width: min(1200px, 80vw);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap:wrap;
}

#about_me_content div{
    margin: 5vh;
}

#about_me_content #about_me_1 {
    flex: 33;
    max-width: min(500px, 30vw);
}

#about_me_content #about_me_1 img {
    padding: 0.625em;
    border: 2px solid var(--color-text-quiet);
}

.revealing_image {
	/* Create View Timeline */
	view-timeline-name: --revealing-image;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: linear reveal both;
	animation-timeline: --revealing-image;

	/* Tweak range when effect should run*/
	animation-range: entry 10% cover 40%;
}

#about_me_content #about_me_2 {
    flex: 66;
}

@media (max-width:960px) {
    #about_me_content {
        display: block;
    }
    #about_me_content #about_me_1 {
        flex: 33;
        max-width: min(100%, 350px);
        margin: auto;
    }
    #about_me_content #about_me_1 img {
        padding: 0;
        border: 0;
    }
    #about_me_content #about_me_2 {
        margin: 0;
        margin-top: 2rem;
    }
}

/* WINDOW 3 - PROJECTS */

#projects_header {
    display: flex;
    justify-content:center;
    
	view-timeline-name: --projects_header;
	view-timeline-axis: block;
	animation: linear reveal both;
	animation-timeline: --projects_header;  
    animation-range: entry 10% cover 80%;
}
#projects_header div{
    display: inline-block;
    margin: auto;
    text-align: center;
}
#projects_header div h2 {
    text-align: center;
    /* margin: 0 2rem; */
}

.project_card {
    display: flex;
    max-width: min(800px, 80vw);
    /* max-width: 20rem; */
    padding: 0.625em;
    /* border: 2px solid var(--color-text-quiet); */
    border-radius: 10px;
    gap: 1rem;
    /* https://stackoverflow.com/a/10995287 */
    transition:         0.2s linear; /* vendorless fallback */
    -o-transition:      0.2s linear; /* opera */
    -ms-transition:     0.2s linear; /* IE 10 */
    -moz-transition:    0.2s linear; /* Firefox */
    -webkit-transition: 0.2s linear; /* safari and chrome */

    /* Create View Timeline
    view-timeline-name: --project_cards;

    /* Attach animation, linked to the  View Timeline */
	/* animation: linear moveFromLeft both;
	animation-timeline: --project_cards; */

	/* Tweak range when effect should run*/
	/* animation-range: entry 90% cover 69%; */
}

#projects_container .project_card{
    /* Create View Timeline */
    view-timeline-name: --project_cards;
    animation-delay: 200ms;
    --percent-differences: 20%;
}

/* animation range brute forced to work */

#projects_container .project_card:nth-child(2) {
    animation: ease-in-out moveFromLeft both;   
    animation-timeline: --project_cards;
    animation-range: entry-crossing 10% entry 350%;
}
#projects_container .project_card:nth-child(3) {
    animation: ease-in-out moveFromRight both;
    animation-timeline: --project_cards;
    animation-range: entry-crossing 10% entry 250%;
}
#projects_container .project_card:nth-child(4) {
    animation: ease-in-out moveFromLeft both;
    animation-timeline: --project_cards;
    animation-range: entry-crossing -10% entry 125%;
}

.project_card:hover {
    /* thank you to this person: */
    /* https://stackoverflow.com/a/13517809 */
    -webkit-box-shadow:inset 0px 0px 0px 2px var(--color-img-border);
    -moz-box-shadow:   inset 0px 0px 0px 2px var(--color-img-border);
    box-shadow:        inset 0px 0px 0px 2px var(--color-img-border);
}

.project_card .project_card_img {
    flex: 25;
    max-width: min(500px, 30vw);
    object-fit: cover;
    aspect-ratio: calc(1 / 1); 
}

.project_card .project_card_content {
    flex: 75;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.flex_row_order_flip {
    flex-direction: row-reverse;
    animation: linear moveFromRight both;
}

.project_tech_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.project_tech_list li {
    font-size: 0.875rem;
    background-color: var(--color-bg-secondary);
    /* border: 2px solid var(--color-accent); */
    border-radius: 4px;
    margin: 0rem;
    padding: 0.25rem;
}

@media (max-width:960px) {
    /* DO NOT have animations on mobile */
    /* hard to implement without breaking everything */
    #projects_container .project_card {
        animation: none !important;
    }

    #projects_header {
        animation: none !important;
    }
}

/* WINDOW 4 - CONTACT */

#contact_content{
    margin: 5vh;
    max-width: min(25em, 80vw);
}

#contact_header {
    display: flex;
    justify-content:center;
}
#contact_header div{
    display: inline-block;
    margin: auto;
    text-align: center;
}
#contact_header div h2 {
    text-align: center;
}

div.social_media_icons {
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    margin: auto;
    width: calc(128px + 40px);
}
div.social_media_icons a.social_media_link img.social_media_icon {
    width: 32px;
    opacity: 0.6;
    transition: 0.22s;
}

div.social_media_icons a.social_media_link img.social_media_icon:hover {
    width: 32px;
    opacity: 1;
}
p.social_media_text{
    text-align: center;
}

@media (max-width:960px) {
    #contact_header div h2{
        display: block;
        width: 100%;
    } 
}

/* FOOTER - LANDING SCREEN */

footer {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 20px;
    width: 100%;
}

footer p {
    color: var(--color-text-quiet);
}